<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Yande 图片下载</title>
</head>

<body>
    <div class="container">
        <h1>Yande 图片下载</h1>
        <form id="download-form" action="/start_download" method="POST">
            <label for="url">URL:</label>
            <input type="text" id="url" name="url" placeholder="https://yande.re/post?tags=mignon+" required>
            <br>
            <label for="folder">Save Folder And Name (绝对路径, 默认根目录):</label>
            <input type="text" id="folder" name="folder" placeholder="images" required>
            <br>
            <label for="start_page">Start Page</label>
            <input type="number" id="start_page" name="start_page" placeholder="1" min="1" step="1" value="4">
            <br>
            <label for="end_page">End Page</label>
            <input type="number" id="end_page" name="end_page" placeholder="5" min="1" step="1" value="9">
            <br>
            <button type="submit">开始下载</button>
        </form>
        <div id="status"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('download-form');
            const statusDiv = document.getElementById('status');

            let taskId = null;

            // 表单提交处理
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const formData = new FormData(form);
                const response = await fetch(form.action, {
                    method: form.method,
                    body: formData,
                });
                const result = await response.json();
                if (result.task_id) {
                    taskId = result.task_id;
                    statusDiv.innerHTML = `<p>任务 ${taskId} 已开始!</p>`;
                } else {
                    statusDiv.innerHTML = `<p>错误: ${result.message}</p>`;
                }
            });

            // 定期检查任务状态
            setInterval(async () => {
                if (taskId) {
                    const response = await fetch('/status');
                    const data = await response.json();
                    if (!data.tasks.includes(taskId)) {
                        // 修改任务完成时的状态文本颜色为红色
                        statusDiv.innerHTML = `<p style="color: red;">任务 ${taskId} 已完成!</p>`;
                    }
                }
            }, 5000);
        });
    </script>
</body>
</html>